li {
	list-style-type: none;
}

a:link {
	color: black;
}

a:hover {
	color: blue;
}

a:visited {
	color: black;
}

#cashflow {
	color: green
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 70px;
	text-align: right;
}